body{
    margin: 0px;
    height: 100vh;
    overflow: hidden;
}
#gameContainer, #game, #background, #backgroundCover{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
}
#background, #backgroundCover{
    object-fit: cover;
}
#background{
    position:relative;
}
#attribution{
    position: relative;
    top: -3em;
    left: 1em;
}
.words{
    display: block;
    position: absolute;
    width: auto;
}
.letters, .typedLetters{
    display: inline;
    position: relative;
}
.typedLetters{
    color:red;
}